@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Poppins:wght@300;400;500;600&display=swap');
*{
    text-align: justify;


}
body{ 
 background-image: linear-gradient( black,purple);
 height: 100%;
}
h1{
    color: #181818;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin-top: 3%
}
p{
    width: 500px;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Inter', sans-serif;
    margin-top: 5%;
    text-align: justify;
  text-indent: 50px;
  padding-bottom: 3%;

    
}

#cooler-master{
    width: 350px;
    height: 270px;
    margin-top: -5%;

}
#master-h1{ 
    margin-top: 6%;
}
#air{
    text-align: center;
    margin-top: 12%;

}
#gabinete{
    width: 200px;
    text-align: center;
}

main{
    background-color: white;
    width: 90%;
    height: 900px auto;
    margin-left: 5%;
    border: 2px solid black;
    display: block;
    margin-bottom: 15px;
    border-radius: 2em;
}